@charset "utf-8";
/*外部样式表*/
h1{
    color: #0000FF;
}
/*类选择器*/
.product{
    color: #FF0000;
    width: 200px;
    height: 100px;
    background-color: aliceblue;
}

.text2{
    font-size: 30px ;
    font-weight: bold;
}