@charset "utf-8";
h1{
    color: blue!important;
}
.product{
    width: 200px;
    height: 350px;
    color: red;
    background-color: aliceblue;
    margin: 10px;

}

span.demo02{
    font-size: 30px;
    font-weight: bold;
}